@font-face {
	font-family: "Lao UI";
	src: url(../fonts/LaoUI.ttf) format("truetype");
}

@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.clear-fix:after {
	clear: both;
	content: " ";
	display: block;
}
