.header {
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	height: 90px;
	width: 1170px;
	margin: 0px auto;
}

.site-name {
	margin-top: 25px;
	float: left;
	width: auto;
	font-weight: bold;
	font-size: 32px;
	color: #637f83;
}

.header-menu {
	margin-top: 34px;
	float: right;
	width: auto;
	font-size: 16px;
	color: #637f83;
	font-weight: bold;
}

	.header-menu:first-child {
		margin-left: 0px;
	}

.header-menu-item {
	display: block;
	float: left;
	width: auto;
	margin-left: 50px;
}

	.header-menu-item:hover {
		color: #e4551d;
		cursor: pointer;
	}
