@media (min-width:1050px) {
	.features-background {
		position: relative;
		z-index: 1;
		background-image: url("../../images/features-background-texture.png");
		background-repeat: repeat;
		background-size: auto auto;
		width: 100%;
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25), 0px -5px 5px 0px rgba(0,0,0,0.25);
	}

	.features-container {
		margin: 0px auto;
		width: 1020px;
		padding: 40px 0px;
	}

	.features-column {
		box-sizing: border-box;
		width: 33.33333333%;
		float: left;
	}

	.features-image {
		margin: 0px auto;
		margin-bottom: 10px;
		display: block;
	}

	.features-cloud {
		background-image: url("../../images/cloud-large.png");
		margin-top: 21px;
		width: 109px;
		height: 74px;
		background-repeat: no-repeat;
	}

	.features-leaf {
		background-image: url("../../images/leaf-large.png");
		width: 92px;
		height: 95px;
		background-repeat: no-repeat;
	}

	.features-paper-plane {
		background-image: url("../../images/paper-plane-large.png");
		margin-top: 12px;
		width: 81px;
		height: 83px;
		background-repeat: no-repeat;
	}

	.features-text {
		text-align: center;
		font-family: "SegoeUIRegular";
		font-weight: lighter;
		font-size: 27px;
		color: #000000;
	}
}
