@media (min-width:1050px) {
	.header-main-description-background {
		background: url("../../images/header-main-description-background.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center center;
	}
}
